@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body{
	font-family:'Work Sans', sans-serif;
	font-size:16px;
	
	
}
h1,h2,h3,h4,h5,h6{font-family: 'Oswald', sans-serif;font-weight:500;

}
section{ 
padding:80px 0px;
	
	
	
}
div.topBarMain {
    background: #f5f5f5;
}
.container {
    width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}
.phone {
    width: 250px;
    float: left;
    border-left: 1px solid #ddd;
}

.email {
    width: 740px;
    float: left;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.social {
    width: 140px;
    float: left;
	transparent: 0.5s;
}
.container {
    overflow: hidden;
}
.social a {display: block;
           float: left;
		   padding: 15px;
		   border-right: 1px solid #ddd;
		   color:#2b2b2b;
		   }
		   
.social i:hover{
	
	color:#ff5200;
	
	
	
}		   
		   
		   
.social a:first-child {
         	           border-left:1px solid #ddd;
                       }
					   
					   
i.fas.fa-phone-alt {
    color: #ff5200;
    padding: 15px 10px;
    /* border-right: 1px solid #ddd; */
}

i.fas.fa-envelope-square {
    color: #ff5200;
    padding: 15px 10px;
	
}
.primarymenu {
    overflow: hidden;
    width: 100%;
}
img {
    width: 200px;
}
.logo {
    width: 150px;
    float: left;
}

.menu {
    width: 990px;
    float: left;
}

ul.mainMenuItem {
    list-style: none;
    float: right;
    margin-top: 20px;
    /* color: black; */
}

ul.mainMenuItem {}

ul.mainMenuItem li {
    float: left;
}

ul.mainMenuItem li a {
    text-decoration: none;
    font-family: oswald;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
    color: #585353;
    padding: 20px 15px;
    transparent:0.5s
}
li#searchbtn {
    margin-top: 5px;
}
ul.mainMenuItem li a:hover{
	
	color:#ff5200;
}
#homeslider{
	background-image: url(../image/slide-1.jpg);
	background-repeat: no-repeat;
	background-position: center center; 
	padding:0;
}
.slliderContent {
    color: white;
}

.sliderContent {
    color: white;
}

.sliderContent p {
    font-weight: 600;
    line-height: 25px;
    width: 490px;
    margin-bottom: 30px;
}

.sliderContent h1 {
    color: white;
    width: 1140px;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    float: left;
}

button#slideWorkButton {
    background: #ff5200;
    color: white;
    border: none;
    padding: 16px 25px;
    font-weight: 600;
    border-radius: 3px;
    margin-bottom: 120px;
}


.sliderNav {
    width: 60px;
    margin: auto;
    padding: 50px 0px;
}

.sliderNav span {
    border: 4px  solid #ddd;
    width: 10px;
    height: 10px;
    background: transparent;
    display: block;
    border-radius: 100%;
    cursor: pointer;
    float: left;
    margin: 5px 5px;
}
.sliderNav span:last-child{
	background:#ff5200;
	border-color:#ff5200;
}

#services {
    background: #f5f6f6;
}
	section.services {
    background: #f5f6f6;
}
}
.sboxWrapper {
    overflow: hidden;
}

.singlebox {
    width: 220px;
    background: white;
    padding: 15px;
    float: left;
    margin-right: 30px;
	transparent:0.03s;
}

.singlebox:hover{
	
	background:#fb5200;
	color:white !important;
	cursor:pointer;
}

.singlebox:hover .sboxTitle h2{
	
	color:white;
	}
	.singlebox:hover .sboxlcon i{
		color:white;
	}

.singlebox:hover .sboxLink a{
	color:white; !important:
}

.sboxTitle h2 {
    line-height: 25px;
    font-size: 26px;
    letter-spacing: -1.1px;
    color: #333;
    text-transform: uppercase;
    margin: 20px 0px;
}

.sboxlcon {
    text-align: center;
    font-size: 40px;
    color: #fb5200;
    margin: 30px 0px;
}
.sboxlcon img {
    width: 70px;
}
.sboxIcon: hover i{
		
		color:white !important;
	}
.sboxDesc {
    text-align: center;
    margin: 30px 0px;
}

.sboxLink a {
    text-decoration: none;
    margin: 30px 0px;
    color: #fb5200;
    text-align: center;
}

.sboxTitle {
    text-align: center;
    width: 150px;
    margin: auto;
}
.sboxLink {
    text-align: center;
}
.singlebox.Active{
	
	background:#fb5200;
	color:white;
}
.singlebox.Active i {
    color: white;
}
.singlebox.Active a {
    color: white;
}


.singlebox.Active h2 {
	
	 color:white;
}
.singlebox .Active i{color:white;}
      .sboxIcon i { color:white;}
}

